body {
    font-family: Arial, sans-serif;
    background: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 70%;
}

button {
    background: #008cba;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #005f7a;
}
